.burger {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.place_order {
    --columns-count: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns-count), minmax(0, 1fr));     
}