
.burger_ingridients {
    --columns-count: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns-count), minmax(0, 1fr));    
  
    
}
.burger_ingredient_item{
    --columns-count: 1;
    display:  grid;
    grid-template-columns: repeat(var(--columns-count), minmax(0, 1fr));    
    text-align: center;
}