.burgerIngridients {
    --columns-count: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns-count), minmax(0, 1fr));    
}
.burgerIngredientItem{
    --columns-count: 1;
    display:  grid;
    grid-template-columns: repeat(var(--columns-count), minmax(0, 1fr));    
    text-align: center;
}
.wrapperIngridient{
    position: relative;
}